*{
    margin: 0;
    padding: 0;
    background-color: none;
    color: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
    background-color: rgb(46, 46, 211);
}
.container{
    width: 320px;
    height: 65px;
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.container > #input{
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    border: none;
}

.container > #btn{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.result{
    margin-top: 35px;
    background-color: rgb(46, 46, 211);
    width: 320px ;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.years, .months, .days{
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
    color: white;
}