*{
    margin: 0;
    padding: 0;
    background-color: none;
    color: none;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 13%;
    background-color: rgb(46, 46, 211);
}
.container{
    width: 270px;
    height: 60px;
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
}